@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    background-color: rgb(27, 27, 27);
    font-family: 'Noto Sans', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}